<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question List</title>
    <link rel="stylesheet" href="/styles/main.css"> <!-- Link to your main CSS file -->
    <style>
        /* Dark theme styles */
        body {
            background-color: white; /* Dark background color */
            color: #fff; /* Light text color */
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .container {
            display: flex; 
            justify-content: center; 
            align-items: center; 
            height: 100vh; 
        }

       .question-list {
            width: 40%; 
            max-height: 80vh; 
            overflow-y: auto; 
        }

        .message-container {
            text-align: center;
        }

        .message {
            font-size: 20px;
            margin-bottom: 20px;
        }

        .question-container {
            background-color: #007FFF; 
            border-radius: 10px;
            padding: 20px;
            margin-bottom: 20px;
        }

        .question-title {
            font-size: 25px;
            font-weight: 700;
            margin-bottom: 10px;
            color: orange;
        }

        .question-description {
            font-size: 16px;
            font-family: sans-serif;
            color: #fff; 
            margin-bottom: 10px;
        }

        .question-details {
            font-size: 14px;
            color: #aaa; 
            margin-bottom: 10px;
        }

        .vote-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .vote-buttons {
            display: flex;
            align-items: center;
        }

        .upvoteButton {
            background-color: green; 
            color: #fff; 
            border: none;
            padding: 10px;
            margin-right: 10px;
            border-radius: 10px;
            cursor: pointer;
        }

        .downvoteButton {
            background-color: red; 
            color: #fff; 
            border: none;
            padding: 10px;
            margin-right: 10px;
            border-radius: 10px;
            cursor: pointer;
        }

        .delete-button {
             background-color: #555; 
            color: #fff; 
            border: none;
            padding: 5px 10px;
            margin-right: 10px;
            border-radius: 3px;
            cursor: pointer;
            margin-left: 850px;
        }

        .vote-score {
            font-size: 16px;
            font-weight: bold;
            color: #fff; 
        }
        .question-user-info {
            display: flex; 
            align-items: center; 
            gap: 10px;
            margin-bottom: 10px;
        }

        .question-user-info img {
            border-radius: 50%; 
            width: 30px; 
            height: 30px; 
            object-fit: cover; 
            margin-right: 5px; 
        }

        .question-user-info span {
            font-size: 25px; 
        }
        

        
 @media only screen and (max-width: 1000px) {
 .question-list {
    width: 60%;
 }
}

@media only screen and (max-width: 500px) {
 .question-list {
    width: 70%;
 }
}
       
    </style>
</head>
<body>
    <div class="container">
        <div class="question-list">
            {{#if questions.length}}
                {{#each questions}}
                    <div class="question-container">
                        <a style="text-decoration: none; color: white; font-weight: bold;  " href="user/profile/{{this.postedBy._id}}">
                        
                            <div class="question-user-info">
                                <img src="/images/profile_pictures/users/{{this.postedBy.image}}"   alt="ProfilePic"> 
                                <span > {{this.postedBy.username}}</span>
                            </div>
                        </a>
                        <div style="border-top: 1px solid #ccc; margin: 10px 0;" class="border-line"></div>
                        <a style="text-decoration: none;" href="questions/show/{{this._id}}">
                            <div class="question-title">{{this.title}}</div>
                            <div class="question-description">{{this.description}}</div>
                            <div class="question-details">
                                <span>Created on: {{this.created}}</span>
                            </div>
                        </a>
                        
                    </div>     
                {{/each}}
            {{else}}
                <div class="message-container">
                    <div class="message">No questions to display.</div>
                </div>
            {{/if}}
        </div>
    </div>
</body>
</html>
