<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question List</title>
    <style>
        body {
            background-color: white; 
            color: #fff; 
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .container {
            display: flex; 
            justify-content: center; 
            align-items: center; 
            height: 100vh; 
        }

        .question-list {
            width: 40%; 
            max-height: 80vh; 
            overflow-y: auto; 
        }

        .message-container {
            text-align: center;
        }

        .message {
            font-size: 20px;
            margin-bottom: 20px;
        }

        .question-container {
            background-color: #008cba; /* Dark container background color */
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1); /* White shadow for contrast */
            margin-bottom: 20px;
        }

        .question-title {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .question-description {
            font-size: 16px;
            color: #fff; /* Light text color */
            margin-bottom: 10px;
        }

        .question-user-info {
            display: flex; 
            align-items: center; 
            gap: 10px;
            margin-bottom: 10px;
        }

        .question-user-info img {
            border-radius: 50%; 
            width: 30px; 
            height: 30px; 
            object-fit: cover; 
            margin-right: 5px; 
        }

        .question-user-info span {
            font-size: 20px; 
            font-weight: bold;
        }

        .question-details {
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            color: #aaa; 
            margin-bottom: 10px;
        }

        .vote-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .vote-buttons {
            display: flex;
            align-items: center;
        }

        .upvoteButton {
            background-color: green; /* Dark button background color */
            color: #fff; /* Light text color */
            border: none;
            padding: 10px;
            margin-right: 10px;
            border-radius: 10px;
            cursor: pointer;
        }

        .downvoteButton {
            background-color: red; /* Dark button background color */
            color: #fff; /* Light text color */
            border: none;
            padding: 10px;
            margin-right: 10px;
            border-radius: 10px;
            cursor: pointer;
        }

        .vote-score {
            font-size: 16px;
            font-weight: bold;
            color: #fff; /* Light text color */
            display: inline;
        }

        .answer-container {
            margin-top: 20px;
            border-top: 1px solid #555; /* Dark border color */
            padding-top: 20px;
        }

        .answer {
            background-color: #007FFF;
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 10px;
        }

        .answer-content {
            font-size: 16px;
            color: #fff; 
        }

        .answer-details {
            font-size: 14px;
            color: #aaa;
            margin-top: 5px;
        }

        .mark-solution {
            display: block;
            text-align: right;
            margin-top: 10px;
        }

        .mark-solution-button {
            background-color: green;
            color: #fff; 
            border: none;
            padding: 10px;
            border-radius: 5px;
            cursor: pointer;
        }

        .post-answer-container {
            background-color: #007FFF; 
            padding: 10px;
            border: none;
            border-radius: 5px;
            margin-top: 20px;
            width: 60%;
        }

        .post-answer-title {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .post-answer-form {
            display: flex;
            flex-direction: column;
        }

        .form-input {
            margin-bottom: 10px;
            padding: 5px;
            border-radius: 3px;
            border: 1px solid #555; 
        }

        .delete-button {
            background-color: red; 
            color: #fff; 
            border: none;
            padding: 10px;
            border-radius: 5px;
            cursor: pointer;
        }

        .deleteDivAnswer {
            display: flex;
            justify-content: flex-end;
            
        }

        .form-submit {
            background-color: orange; /* Dark button background color */
            color: #fff; /* Light text color */
            border: none;
            padding: 10px;
            border-radius: 3px;
            cursor: pointer;
            align-self: flex-start;
            width: 100px; /* Adjust the width as needed */
        }

     @media only screen and (max-width: 1100px) {
        .question-list {
             width: 60%;
     }

     .post-answer-container {
        width: 80%;
     }
    }


     @media only screen and (max-width: 750px) {
        .question-list {
             width: 80%;
     }

     .post-answer-container {
        width: 90%;
     }
    }
    </style>
</head>
<body>
    <div class="container">
        <div class="question-list">
            <div class="question-container">
                <div class="question-title">{{question.title}}</div>
                <div class="question-description">{{question.description}}</div>
                <div class="question-details">
                    <span style="color: gold; font-weight: bold;">Asked by: {{question.postedBy.username}}</span>
                    <span>On: {{question.created}}</span>
                </div>
                <div class="vote-container">
                    <div class="vote-buttons">
                        {{#if question.upvoted}} 
                            <button style="border: 5px darkgreen solid ;" onclick="window.location.href='/questions/upvote/{{question._id}}'" class="upvoteButton">Upvote</button>
                        {{else}}    
                            <button  onclick="window.location.href='/questions/upvote/{{question._id}}'" class="upvoteButton">Upvote</button>
                        {{/if}}                                          
                        {{#if question.downvoted}} 
                            <button style="border: 3px darkred solid;" onclick="window.location.href='/questions/downvote/{{question._id}}'" class="downvoteButton">Downvote</button>
                        {{else}}    
                            <button  onclick="window.location.href='/questions/downvote/{{question._id}}'" class="downvoteButton">Downvote</button>
                        {{/if}}
                        <div class="vote-score">Score: {{question.score}}</div>
                       
                    </div>
                     {{#if question.isMine}}
                       <div class="deleteDiv">
                            <button  onclick="window.location.href='/questions/delete/{{question._id}}'" class="delete-button">Delete</button> 
                        </div>      
                        {{/if}}
                </div>
                             
            </div>

            <div class="answer-container">
                <h2>Answers</h2>
                {{#if question.solution}}
                    <div style="border: 10px gold solid;" class="answer">
                         <div class="question-user-info">
                                <img src="/images/profile_pictures/users/{{question.postedBy.image}}"   alt="ProfilePic"> 
                                <span > {{question.postedBy.username}} 👑</span>
                            </div>
                            <div class="answer-content">{{question.solution.content}}</div>
                            <div class="answer-details">
                                <span>Answered on: {{question.solution.created}}</span>
                            </div>
                            <div class="vote-container">
                                <div class="vote-buttons">
                                    {{#if question.solution.upvoted}} 
                                        <button style="border: 5px darkgreen solid;" onclick="window.location.href='/answers/upvote/{{question.solution._id}}'" class="upvoteButton">Upvote</button>
                                    {{else}}    
                                        <button onclick="window.location.href='/answers/upvote/{{question.solution._id}}'" class="upvoteButton">Upvote</button>
                                    {{/if}}                                          
                                    {{#if question.solution.downvoted}} 
                                        <button style="border: 3px darkred solid;" onclick="window.location.href='/answers/downvote/{{question.solution._id}}'" class="downvoteButton">Downvote</button>
                                    {{else}}    
                                        <button onclick="window.location.href='/answers/downvote/{{question.solution._id}}'" class="downvoteButton">Downvote</button>
                                    {{/if}}
                                    <div class="vote-score">Score: {{question.solution.score}}</div>
                                </div>
                            </div>
                             <!-- Only show mark solution button for question creator -->
                               
                                {{#if question.isMine}}
                                 <div class="mark-solution">
                                    <button onclick="window.location.href='/questions/show/{{question._id}}/solution/{{question.solution._id}}'" class="mark-solution-button">Unmark as Solution</button>
                                </div>
                                  {{/if}}
                               
                                {{#if this.isMine}}
                                 <div class="deleteDivAnswer">
                                    <button  onclick="window.location.href='/answers/delete/{{this._id}}'" class="delete-button">Delete</button>
                                </div>
                            {{/if}}
                                
                        </div>
                  
                {{/if}}
                {{#each answers}}
                    {{#if this.display}}
                        <div class="answer">
                            <div class="question-user-info">
                                <img src="/images/profile_pictures/users/{{this.postedBy.image}}"   alt="ProfilePic"> 
                                <span> {{this.postedBy.username}} </span>
                            </div>
                            <div class="answer-content">{{this.content}}</div>
                            <div class="answer-details">
                               
                                <span>Answered on: {{this.created}}</span>
                            </div>
                            <div class="vote-container">
                                <div class="vote-buttons">
                                    {{#if this.upvoted}} 
                                        <button style="border: 5px darkgreen solid;" onclick="window.location.href='/answers/upvote/{{this._id}}'" class="upvoteButton">Upvote</button>
                                    {{else}}    
                                        <button onclick="window.location.href='/answers/upvote/{{this._id}}'" class="upvoteButton">Upvote</button>
                                    {{/if}}                                          
                                    {{#if this.downvoted}} 
                                        <button style="border: 3px darkred solid;" onclick="window.location.href='/answers/downvote/{{this._id}}'" class="downvoteButton">Downvote</button>
                                    {{else}}    
                                        <button onclick="window.location.href='/answers/downvote/{{this._id}}'" class="downvoteButton">Downvote</button>
                                    {{/if}}
                                    <div class="vote-score">Score: {{this.score}}</div>
                                    {{#if this.isMine}}
                                       
                                        {{else}}
                                         
                                    {{/if}}
                                </div>
                            </div>
                            {{#if this.canSetSolution}} <!-- Only show mark solution button for question creator -->
                                <div class="mark-solution">
                                    <button onclick="window.location.href='/questions/show/{{this.question._id}}/solution/{{this._id}}'" class="mark-solution-button">Mark as Solution</button>
                                </div>
                                
                                 {{else}}

                            {{/if}}   

                             {{#if this.isMine}}  
                                <div class="deleteDivAnswer">
                                    <button  onclick="window.location.href='/answers/delete/{{this._id}}'" class="delete-button">Delete</button>
                                </div>
                            {{/if}}
                            
                        </div>
                    {{/if}}
                {{/each}}
            </div>

            <div class="post-answer-container">
                <h2 class="post-answer-title">Post Your Answer</h2>
                <form class="post-answer-form" action="/answers/create/{{question._id}}" method="POST">
                    <textarea name="content" placeholder="Your answer" rows="4" class="form-input" required></textarea>
                    <button type="submit" class="form-submit">Post Answer</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
